.ant-carousel .slick-dots li button {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
  background: #fff !important;
  opacity: 0.5;
}

.slick-slide .ant-card {
  width: 350px !important;
}

.slick-slide .ant-card {
  background-color: unset;
  border: none;
}

.ant-card-head {
  border: none !important;
}

/* .ant-tabs-nav-list {
  @media (min-width: 576px) {
    width: 150px;
  }
} */
